{"recorded_with": "betamax/0.8.0", "http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ""}, "method": "GET", "uri": "https://api.github.com/repos/melkamar/mi-pyt-test-issues/issues?state=all"}, "recorded_at": "2016-10-31T17:50:10", "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://developer.github.com/v3\"}"}, "headers": {"X-RateLimit-Remaining": "45", "Status": "401 Unauthorized", "X-RateLimit-Limit": "60", "X-RateLimit-Reset": "1477939065", "Content-Type": "application/json; charset=utf-8", "X-GitHub-Media-Type": "github.v3"}, "status": {"message": "Unauthorized", "code": 401}, "url": "https://api.github.com/repos/melkamar/mi-pyt-test-issues/issues?state=all"}}]}