{"recorded_with": "betamax/0.8.0", "http_interactions": [{"recorded_at": "2016-10-31T13:42:38", "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://developer.github.com/v3\"}"}, "url": "https://api.github.com/repos/melkamar/mi-pyt-test-issues/issues?state=all", "status": {"code": 401, "message": "Unauthorized"}, "headers": {"Content-Type": "application/json; charset=utf-8", "X-RateLimit-Limit": "60", "X-RateLimit-Reset": "1477922423", "X-GitHub-Media-Type": "github.v3", "Status": "401 Unauthorized", "X-RateLimit-Remaining": "43"}}, "request": {"body": {"encoding": "utf-8", "string": ""}, "uri": "https://api.github.com/repos/melkamar/mi-pyt-test-issues/issues?state=all", "method": "GET", "headers": {"Authorization": ""}}}]}