{"http_interactions": [{"recorded_at": "2016-10-31T14:36:42", "request": {"method": "GET", "body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ""}, "uri": "https://api.github.com/repos/melkamar/mi-pyt-test-issues/issues?state=all"}, "response": {"status": {"code": 401, "message": "Unauthorized"}, "url": "https://api.github.com/repos/melkamar/mi-pyt-test-issues/issues?state=all", "body": {"encoding": "utf-8", "string": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://developer.github.com/v3\"}"}, "headers": {"X-RateLimit-Limit": "60", "Status": "401 Unauthorized", "X-GitHub-Media-Type": "github.v3", "X-RateLimit-Remaining": "58", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Reset": "1477926342"}}}], "recorded_with": "betamax/0.8.0"}