{"http_interactions": [{"request": {"uri": "https://api.github.com/repos/melkamar/mi-pyt-test-issues/issues?state=all", "method": "GET", "headers": {"Authorization": ""}, "body": {"encoding": "utf-8", "string": ""}}, "recorded_at": "2016-10-31T13:17:22", "response": {"url": "https://api.github.com/repos/melkamar/mi-pyt-test-issues/issues?state=all", "status": {"code": 401, "message": "Unauthorized"}, "headers": {"Status": "401 Unauthorized", "X-RateLimit-Remaining": "46", "X-GitHub-Media-Type": "github.v3", "X-RateLimit-Limit": "60", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Reset": "1477922423"}, "body": {"encoding": "utf-8", "string": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://developer.github.com/v3\"}"}}}], "recorded_with": "betamax/0.8.0"}